p
{
    font-style:normal;
    font-size: large;
}

tr
{
    background-color:aquamarine;
    font-size: larger;
    text-align: center;
}

th
{
    background-color:aquamarine;
    font-size: larger;
    text-align: center;
}


td
{
    background-color: darkmagenta;
    font-size: large;
    text-align: center;
}

input{
    font-size: large;
}