p
{
    font-style:normal;
    font-size:xx-large;
}

tr
{
    background-color:aquamarine;
    font-size: larger;
    text-align: center;
}

th
{
    background-color:aquamarine;
    font-size: larger;
    text-align: center;
}

td.alt
{
    background-color: aquamarine;
    font-size: large;
    text-align: center;
}

td
{
    background-color: darkmagenta;
    font-size: large;
    text-align: center;
}

input{
    font-size: large;
}

table
{
    position: relative;
    scale: 2;
    margin-top: 3cm;
}